.box-nosotros{
    
    max-width: 1200px;
    width:100%;
    margin:auto;
    height: 65vh;
    background:#fff;

    position:relative;
    right: 0;
    left: 0;
    top: 30px;
    bottom: 0;
   


   
    
}

.nosotros-titulo{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.nosotros-titulo:hover{
    font-weight: bold;
    font-size: 40px;
    transition: all 0.2s ease-in;
}
